<div class="container">
  <div class="recipe-img">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>

  <div class="recipe-name">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="recipe-desc">
    {{ recipe.description }}
  </div>
  <div class="manage-btn">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" routerLink="/recipes" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>


  <div class="recipe-ingredients">
    <ul class="ingredient-list">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>

